<div class="panel-heading">
	<div class="search">
		<input type="text " placeholder="Search by Lead Name" >
	</div>
	<LinkTo @route="lead.create" class="btn-new">	
		<div class="sr-only">Add New Lead</div>
	</LinkTo>
</div>

<div class="panel-content">
	<h3 class="panel-title">Leads</h3>

	<ul class="collection">
		{{#each model as |lead|}}
			<Lead-list-item
			  @first={{lead.first}}
			  @last={{lead.last}}
			  @email={{lead.email}}
			  @leadId={{lead.id}}
			/>
		{{/each}}
	</ul>
</div>

{{outlet}}